@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

.logo{
    width:70px;
}
header h1{
    color:#c9c983;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}
.jumbotron{
    background-image: url('../img/hero.jpg');
    background-size:cover;
    background-position:center;
    height:450px;
}
.jumbotron h2{
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    font-weight: 400;
}
.nav-pills>li.active>a:hover, .product button:hover, footer a:hover {
    background-color: #edf1f4;
    color:#5c433f
}
.nav-pills>li.active>a{
    color:#5c433f;
    background-color: #eeddcd;
}